<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">
    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- Fontawesome (iconos)-->
    <script src="https://kit.fontawesome.com/600ca15ca8.js"></script>

    <!-- search bar-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- =======================================================
      Theme Name: BizPage
      Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
    <title>GoToMovie</title>
</head>
<body>

<!--==========================
    Header
  ============================-->
<header id="header" class="header-scrolled">
    <div class="container-fluid">

        <div id="logo" class="pull-left">
            <h1><a th:href="@{'/'}" class="scrollto">GoToMovie</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a th:href="@{'/'}">Inicio</a></li>


                <!-- Search form -->

                <li>
                    <form class="form-inline" role="search" th:action="@{/movie/search}" th:object="${movie}" method="get">
                        <div class="input-group add-on">
                            <input class="form-control form-control-sm" placeholder="Buscar pelicula" type="text" th:field="*{title}" th:value="*{title}" />
                            <div class="input-group-btn">
                                <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </li>

            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<br> <br> <!-- momentaneo hasta solucionar lo del header-->

<!--==========================
   Contact Section
 ============================-->
<section id="contact" class="section-bg wow fadeInUp">
    <div class="container">

        <div class="section-header">
            <h3 th:text="${movie.getTitle()}"></h3>
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
                <div class="contact-address">
                    <img th:src="${movie.getPosterUrl()} + ${movie.getPoster_path()}" />
                </div>
            </div>

            <div class="col-md-8">
                <div class="">
                    <h3>Fecha de estreno</h3>
                    <p th:text="${movie.getRelease_date()}"></p>
                </div>

                <div class="">
                    <h3>Genero</h3>
                    <div th:each="genre : ${movie.getGenres()}">
                        <p th:text="${genre.getName()}"></p>
                    </div>
                </div>

                <div class="">
                    <h3>Actores</h3>
                    <div th:each="actor : ${movie.getCastLimit5()}">
                        <p th:text="${actor.getName()}"></p>
                    </div>
                </div>

                <div class="">
                    <h3>Puntuacion </h3>
                    <h2 th:if="${averageScore == '0,0'}">Todavia no fue puntuada</h2> <!-- if puntuacion = 0.0 , "sin puntuar" -->
                    <h2 th:unless="${averageScore == '0,0'}" th:text="${averageScore} ">/ 10 </h2> <!-- if puntuacion = 0.0 , "sin puntuar" -->
                </div>
                <hr>
                <div class="form">
                        <form th:action="@{'/score/add/'}"method="post" role="form" class="contactForm">

                            <input type="hidden" name="movieId" th:value="${movie.getId()}" >

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="score" id="inlineRadio1" value="1">
                                <label class="form-check-label" for="inlineRadio1">1</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="score" id="inlineRadio2" value="2">
                                <label class="form-check-label" for="inlineRadio2">2</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="score" id="inlineRadio3" value="3">
                                <label class="form-check-label" for="inlineRadio3">3</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="score" id="inlineRadio4" value="4">
                                <label class="form-check-label" for="inlineRadio4">4</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="score" id="inlineRadio5" value="5">
                                <label class="form-check-label" for="inlineRadio5">5</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="score" id="inlineRadio6" value="6">
                                <label class="form-check-label" for="inlineRadio6">6</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="score" id="inlineRadio7" value="7">
                                <label class="form-check-label" for="inlineRadio7">7</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="score" id="inlineRadio8" value="8">
                                <label class="form-check-label" for="inlineRadio8">8</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="score" id="inlineRadio9" value="9">
                                <label class="form-check-label" for="inlineRadio9">9</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="score" id="inlineRadio10" value="10">
                                <label class="form-check-label" for="inlineRadio10">10</label>
                            </div>
                            <br> <br>
                            <div class="text-center"><button type="submit">Puntuar</button></div>
                        </form>
                </div>

            </div>


        </div>
        <hr> <!--
        <div class="">
            <h1>Comentarios:</h1>
            <div th:each="comment : ${comments}">
                <p th:text="${comment.getComment()}">Comentario</p>
            </div>


            <div class="row" th:each="comment : ${comments}">

                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-people-outline"></i></div>
                    <h4 class="title">Usuario anonimo</h4>
                    <p class="description" th:text="${comment.getComment()}"></p>
                </div>

            </div>

            <a href="">Ver todos los comentarios >></a>
        </div> -->


        <!--==========================
      Services Section
    ============================-->
        <section id="services">
            <div class="container">

                <div class="">
                    <h1>Comentarios:</h1>
                    <hr>
                    <div class="row" th:each="comment : ${comments}">

                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-contact"></i></div>
                            <h4 class="title">Usuario anonimo</h4>
                            <p class="description" th:text="${comment.getComment()}"></p>
                        </div>

                    </div>

                    <a href="">Ver todos los comentarios >></a>
                </div>

            </div>

        </section><!-- #services -->


        <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>

            <form th:action="@{'/comment/add/'}" method="post" role="form" class="contactForm">
                <input type="hidden" name="movieId" th:value="${movie.getId()}" >
                <div class="form-group">
                    <textarea class="form-control" name="comment" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Ingrese un comentario sobre la pelicula"></textarea>
                    <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Enviar comentario</button></div>
            </form>
        </div>

    </div>
</section><!-- #contact -->


<!-- JavaScript Libraries -->
<script th:src="@{/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/lib/jquery/jquery-migrate.min.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/superfish/hoverIntent.js}"></script>
<script th:src="@{/lib/superfish/superfish.min.js}"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
<script th:src="@{/lib/touchSwipe/jquery.touchSwipe.min.js}"></script>
<!-- Contact Form JavaScript File -->
<script th:src="@{contactform/contactform.js}"></script> <!-- sacarlo porq es del foormulario premium-->

<!-- Template Main Javascript File -->
<script th:src="@{/js/main.js}"></script>
</body>

<script>
    $(document).ready(function() {
       $('.menuContainer').load('/header.html');
    });
</script>
</html>