<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">
    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- Fontawesome (iconos)-->
    <script src="https://kit.fontawesome.com/600ca15ca8.js"></script>

    <!-- search bar-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- =======================================================
      Theme Name: BizPage
      Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
    <title>GoToMovie</title>
</head>
<body>

<!--==========================
    Header
  ============================-->
<header id="header" class="header-scrolled">
    <div class="container-fluid">

        <div id="logo" class="pull-left">
            <h1><a th:href="@{'/'}" class="scrollto">GoToMovie</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#intro">Inicio</a></li>

                <li class="menu-has-children"><a href="">Drop Down</a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                        <li><a href="#">Drop Down 5</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Contact</a></li>

                <!-- Search form -->

                <li>
                    <form class="form-inline" role="search" th:action="@{/movie/search2}" th:object="${movie}" method="get">
                        <div class="input-group add-on">
                            <input class="form-control form-control-sm" placeholder="Buscar pelicula" type="text" th:field="*{title}" th:value="*{title}" />
                            <div class="input-group-btn">
                                <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </li>

            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<br> <br> <!-- momentaneo hasta solucionar lo del header-->

<!--==========================
   Contact Section
 ============================-->
<section id="contact" class="section-bg wow fadeInUp">
    <div class="container">

        <div class="section-header">
            <h3 th:text="${movie.getTitle()}"></h3>
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
                <div class="contact-address">
                    <img th:src="${movie.getPosterUrl()} + ${movie.getPoster_path()}" />
                </div>
            </div>

            <div class="col-md-8">
                <div class="">
                    <h3>Año de lanzamiento</h3>
                    <p th:text="${movie.getRelease_date()}"></p>
                </div>

                <div class="">
                    <h3>Genero</h3>
                    <p th:text="${movie.getGenres()}"></p>
                </div>

                <div class="">
                    <h3>Actores</h3>
                    <p th:text="${movie.getRelease_date()}"></p>
                </div>

                <div class="">
                    <h3>Puntuacion </h3>
                    <h4>10 / 10 </h4>
                    <p><a href="mailto:info@example.com">info@example.com</a></p>
                </div>


                <div class="form">
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                <label class="form-check-label" for="inlineRadio1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                <label class="form-check-label" for="inlineRadio2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                <label class="form-check-label" for="inlineRadio3">3</label>
                            </div>

                            <div class="text-center"><button type="submit">Puntuar</button></div>
                        </form>
                </div>

            </div>


        </div>
        <hr>
        <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <h1>Comentarios:</h1>
            <p>Comentario 1</p>
            <p>Comentario 2</p>
            <a href="">Ver todos los comentarios >></a>
            <form action="" method="post" role="form" class="contactForm">

                <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Ingrese un comentario sobre la pelicula"></textarea>
                    <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Enviar comentario</button></div>
            </form>
        </div>

    </div>
</section><!-- #contact -->


<!-- JavaScript Libraries -->
<script th:src="@{/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/lib/jquery/jquery-migrate.min.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/superfish/hoverIntent.js}"></script>
<script th:src="@{/lib/superfish/superfish.min.js}"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
<script th:src="@{/lib/touchSwipe/jquery.touchSwipe.min.js}"></script>
<!-- Contact Form JavaScript File -->
<script th:src="@{contactform/contactform.js}"></script> <!-- sacarlo porq es del foormulario premium-->

<!-- Template Main Javascript File -->
<script th:src="@{/js/main.js}"></script>
</body>

<script>
    $(document).ready(function() {
       $('.menuContainer').load('/header.html');
    });
</script>
</html>